{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="example-wrapper">
        <h1 class="display-4">Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="btn btn-info" href="{{ path('app_categorie_show', {'id': categorie.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-warning" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                {% else %}

                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        {% if is_granted('ROLE_ADMIN') %}
            <td>
                <a class="btn btn-primary" href="{{ path('app_categorie_new') }}"><i class="fa-solid fa-plus"></i></a>
                <a class="btn btn-primary" href="{{ path('app_video_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
            </td>
        {% else %}
            <a class="btn btn-primary" href="{{ path('app_video_index') }}">Retour à l'accueil</a>
        {% endif %}
    </div>
</div>
{% endblock %}
