{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-4 mb-4">Edit User</h1>

                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'edit-user-form'}}) }}

                {% for field in form %}
                    <div class="form-group mb-3">
                        {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(field, {'attr': {'class': 'form-control', 'id': field.vars.name}}) }}

                        {% if field.vars.errors|length > 0 %}
                            <small id="{{ field.vars.name }}-error" class="form-text text-danger">
                                {% for error in field.vars.errors %}
                                    {{ error.message }}
                                {% endfor %}
                            </small>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary" id="submit-btn">Save <i class="fa-solid fa-floppy-disk"></i></button>
                <a class="btn btn-secondary ms-2" href="{{ path('app_user_profile', {'id': user.id}) }}">
                    <i class="fa-solid fa-arrow-left"></i> Back to profile
                </a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
